absl-py==0.11.0
alabaster==0.7.12
alembic==1.4.1
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==1.10.0
anaconda-project==0.8.3
argh==0.26.2
astor==0.8.1
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
azure-core==1.11.0
azure-storage-blob==12.7.1
backcall==0.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.1.0
bkcharts==0.2
blinker==1.4
blis==0.7.4
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.1
catalogue==2.0.1
catboost==0.24.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
clyent==1.2.2
colorlover==0.3.0
comtypes==1.1.7
conda==4.9.2
conda-build==3.20.5
conda-verify==3.4.2
confuse==1.4.0
contextlib2==0.6.0.post1
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.5
Cython==0.29.14
cytoolz==0.11.0
databricks-cli==0.14.1
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
docker==4.4.3
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
funcy==1.15
future==0.18.2
gast==0.3.3
gensim==3.8.3
geographiclib==1.50
geopy==2.1.0
gitdb==4.0.5
GitPython==3.1.13
glob2==0.7
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.16
grpcio==1.32.0
h5py==2.10.0
HeapDict==1.0.1
htmlmin==0.1.12
ImageHash==4.2.0
imagesize==1.2.0
imbalanced-learn==0.8.0
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
json5==0.9.5
jsonify==0.5
jupyter==1.0.0
jupyter-core==4.6.3
jupyterlab==2.2.6
Keras==2.4.3
Keras-Preprocessing==1.1.2
kmodes==0.11.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
lightgbm==3.1.1
llvmlite==0.34.0
locket==0.2.0
Mako==1.1.4
Markdown==3.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
menuinst==1.4.16
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mlflow==1.13.1
mlxtend==0.18.0
mock==4.0.2
mpmath==1.1.0
msgpack==1.0.0
msrest==0.6.21
multipledispatch==0.6.0
multitasking==0.0.9
murmurhash==1.0.5
navigator-updater==0.2.1
nose==1.3.7
numba==0.51.2
numexpr==2.7.1
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.4
pandas-profiling==2.10.1
pandastable==0.12.2.post1
parso==0.7.0
partd==1.1.0
pathlib2==2.3.5
pathtools==0.1.2
pathy==0.4.0
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
phik==0.11.0
pickleshare==0.7.5
pkginfo==1.6.1
plotly==4.14.3
pluggy==0.13.1
ply==3.11
preshed==3.0.5
prometheus-client==0.8.0
prometheus-flask-exporter==0.18.1
protobuf==3.14.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==2.2.3
pycodestyle==2.6.0
pycosat==0.6.3
pycurl==7.43.0.6
pydantic==1.7.3
pydeck==0.6.1
pyflakes==2.2.0
pyLDAvis==3.2.1
pynndescent==0.5.2
pyod==0.8.7
pyodbc===4.0.0-unsupported
pyparsing==2.4.7
pyreadline==2.1
PySocks==1.7.1
pytest==0.0.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2020.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtPy==1.9.0
querystring-parser==1.2.4
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.7
Rtree==0.9.4
ruamel-yaml==0.15.87
scikit-image==0.17.2
scikit-plot==0.3.7
Send2Trash==1.5.0
simplegeneric==0.8.1
sip==4.19.13
smart-open==4.2.0
smmap==3.0.5
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==3.0.3
spacy-legacy==3.0.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
srsly==2.4.0
statsmodels==0.12.0
streamlit==0.78.0
tables==3.6.1
tabulate==0.8.8
tangled-up-in-unicode==0.0.6
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textblob==0.15.3
thinc==8.0.1
tifffile==2020.10.1
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
tornado==6.0.4
typer==0.3.2
tzlocal==2.1
umap-learn==0.5.1
unicodecsv==0.14.1
validators==0.18.2
visions==0.6.0
waitress==1.4.4
wasabi==0.8.2
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1
xgboost==1.3.3
xlrd==1.2.0
xlwings==0.20.8
xlwt==1.3.0
xmltodict==0.12.0
yellowbrick==1.3.post1
yfinance==0.1.55
zict==2.0.0
zope.event==4.5.0
pandas==1.1.3
numpy==1.19.2
